/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.fa.fa-bars{
	font-size: 44px;
	position: relative;
	bottom: 18px;
}