

<div id="main-wrapper">

<div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>

<div class="columns-block container">
<div class="left-col-block blocks">
    <header class="header theiaStickySidebar">
        <div class="profile-img">
            <img src="assets/nameit/logo4.png" class="img-responsive introImg" alt=""/>
        </div>
        <div class="content">
            <h1>Katlego Ratau</h1>
           
			
            <div class="about-text">
            
                
                
				<h2   class="lead2">Personal profile and career objectives </h2>
                <p>
					
                    A set of principles and processes are the things that keep me consistent all the time.
					I went through the process of studying Information Technology at Tshwane University of Technology (Soshanguve campus); 
					I have completed the qualification (National Diploma Information Technology - Technical Applications) with a cum laude.
					For me it was not about the product, it was about staying true to the process and honour it with my best performance.
                </p>
				
				<p> The major fields in this study are: software programming (Java), mobile 
					device programming (Android), and operating systems.</p>

                <p>It is to be noted that the above mentioned fields of studies are only a guideline in this regard,
					any other Information Technology (IT) oriented projects, tasks, and responsibilities may also be accepted.</p>

            </div>


            <ul class="social-icon">
                <!--<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
       
            </ul>
        </div>

    </header>
  
</div>



<div class="right-col-block blocks">
	<div class="show-menu">
             <a matTooltip="Click to view the menu" href=""  class="shadow-top-down menuTab"><i class="fa fa-bars"></i></a>
	</div>
	<nav class="main-menu shadow-top-down">
            <ul class="nav nav-pills nav-stacked">
					<li><a class="out  animsition-link" href="#experience">EXPERIENCE</a></li>
					<li class="line"><a class="out animsition-link" href="#education">EDUCATION</a></li>
					<li class="line"><a class="out animsition-link" href="#hire-me">HIRE-ME</a></li>
				  <li><a class="out animsition-link" href="#speak">SPEAKING-ENGAGEMENTS</a></li>
				   <li><a class="out animsition-link" href="#skills">SKILLS</a></li>
				   <li class="line"><a class="out animsition-link" href="#interest">INTEREST</a></li>
				   <li class="line"><a class="out animsition-link" href="#reference">REFERENCE</a></li>
				   
            </ul>
        </nav>
        
<div class="theiaStickySidebar">
<section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 style="color:black" >RESUME OF KATLEGO RATAU</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

             <div class="row">
                    <div class="col-md-3">
                        <div class="personal-details">
                            <strong>OCTOBER 27, 1993</strong>
                            <small>BIRTH</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="personal-details">
                            <strong>South Africa</strong>
                            <small>NATIONALITY</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="personal-details">
                            <strong>ENGLISH , SEPEDI, ISIZULU, ISIXHOSA</strong>
                            <small>LANGUAGES</small>
                        </div>
                    </div>
            </div>
       

    </div>
</section>

<section id="experience" class="section-wrapper section-experience gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Experience</h2></div>
            </div>
        </div>
		
		
		 <div class="row">
            <div class="col-md-12">
                <div class="card">
				  <div class="row">
					<div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
					  <div class="card-body cc-experience-header">
						<p></p>
						<div class="h5">Angular Development</div>
					  </div>
					</div>
					<div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
					  <div class="card-body">
						<div class="h5">Web Applications Development</div>
							
							<p>I develop fully functioning static and dynamic web applications.
							The development of web applications include the use of databases, email interaction with users. 
							The following is some of my work:</p>
							
							<mat-list>
							  <mat-list-item><i class="fa fa-globe"></i> <a target="_blank" href="https://josiekeen.co.za"> &nbsp; www.josiekeen.co.za</a> </mat-list-item>
							  <!-- <mat-divider></mat-divider>
							  <mat-list-item><i class="fa fa-globe"></i> <a target="_blank" href="https://sonnysautoaircons.co.za"> &nbsp; www.sonnysautoaircons.co.za</a></mat-list-item> -->
							  <mat-divider></mat-divider>

							</mat-list>
							
					  </div>
					</div>
				  </div>
				</div>
        </div>
        
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
              <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body cc-experience-header">
                    
                    <div class="h5">ChatBot</div>
                  </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body">
                    <div class="h5">Bot Developer</div>
                       
                        <p>Freelancer</p>
                      
                        <h6 style="text-decoration: underline">A self-taught skill in Bot Development</h6>
                        <mat-list>
                          <mat-list-item><i class="fa fa-angle-double-right"></i> &nbsp; Develop and mainatin chat bots using nodeJs, Dialogflow and deploy them on Telegram and Facebook Messenger </mat-list-item>
                          <mat-divider></mat-divider>
                     
                         
                        </mat-list>
                        
                  </div>
                </div>
              </div>
            </div>
    </div>
    
</div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
              <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body cc-experience-header">
                    
                    <div class="h5">Mobile App Developer</div>
                  </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body">
                    <div class="h5">Droppa Group</div>
                       
                        <p>01 September 2017 – 28 February 2018</p>
                      
                        <h6 style="text-decoration: underline">Core functions are as follows :</h6>
                        <mat-list>
                          <mat-list-item><i class="fa fa-angle-double-right"></i> &nbsp; Support the marketing activities, by developing and maintaining both new and
                            existing mobile solutions (Using IONIC 3).</mat-list-item>
                          <mat-divider></mat-divider>
                     
                         
                        </mat-list>
                        
                  </div>
                </div>
              </div>
            </div>
    </div>
    
</div>



        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
				  <div class="row">
					<div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
					  <div class="card-body cc-experience-header">
						
						<div class="h5">Lab Assistant</div>
					  </div>
					</div>
					<div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
					  <div class="card-body">
						<div class="h5">Open Lab Assistant</div>
							<h4>Tshwane University of Technology</h4>
							<p>27 February 2017 – 23 June 2017</p>
							<h5>A Lab monitor during my last year of my academics.</h5>
							<h6 style="text-decoration: underline">Core functions are as follows :</h6>
							<mat-list>
							  <mat-list-item><i class="fa fa-angle-double-right"></i> &nbsp; Facilitate open labs during the day (Monday - Friday).</mat-list-item>
							  <mat-divider></mat-divider>
							  <mat-list-item><i class="fa fa-angle-double-right"></i> &nbsp; Be available to students when they require technical support.</mat-list-item>
							  <mat-divider></mat-divider>
							  <mat-list-item><i class="fa fa-angle-double-right"></i> &nbsp; Assist students who encounter programming difficulties.</mat-list-item>
							  <mat-divider></mat-divider>
							  <mat-list-item><i class="fa fa-angle-double-right"></i> &nbsp; Maintain discipline in the labs.</mat-list-item>
							  <mat-divider></mat-divider>
							</mat-list>
							
					  </div>
					</div>
				  </div>
				</div>
        </div>
        
    </div>
	
	
	   

	
	</div>

</section>



<section id="education" class="section-wrapper section-education">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Education</h2></div>
            </div>
        </div>
      
		
		 <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p></p>
            <div class="h5">National Diploma</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">National Diploma Information Technology</div>
            <p class="category">Tshwane University of Technology (<a target="_blank" href="https://www.tut.ac.za/faculties/ict/departments/computer-science/about">Department of computer science</a>)</p>
            <p> A specialization in <a target="_blank" href="https://www.tut.ac.za/ProspectusDocuments//2018/15.%20NDip_IT_Technical_Appl_Extended_2018.pdf">Technical applications</a>. This includes; Software development (Java) and Mobile device programming (Android).
			</p>
		
				<p>
				
					<a href="assets/nameit/academic.pdf" target="_blank"><i class="fa fa-file-text-o"></i> View</a> academic transcripts. <br>
					<a href="assets/nameit/IT.pdf" target="_blank" ><i class="fa fa-file-text-o"></i> View</a> qualification.
				
				</p>
		
          </div>
        </div>
      </div>
    </div>
	
     
    </div>
    

</section>








<section id="speak" class="section-wrapper section-interest gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Speaking Engagements</h2>
                </div>
            </div>
        </div>
        

        <div class="row">
            <div class="col-md-12">
                
				
				<div class="col-sm-12 wow fadeInDown">
                    <div class="accordion">
                        <div class="panel-group" id="accordion1">
                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                  Career Exposure
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>

							
                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">
                                  <div class="media accordion-inner">
                                        <div class="pull-left">
                                           <a href="" data-toggle="modal" data-target="#engagementSpeaking">  <img matTooltip="Click to view the full picture" class="img-responsive engage" src="assets/eng.png"> </a>
                                        </div>
                                        <div class="media-body">
											<h4>Tshwane University of Technology (TUT) Career exposure</h4>
                                             <p> Wednesday, 23 May 2018 I was invited as an academic guest speaker for the event career exposure.
											 The presentation was about my academic life on campus. On that day I shared with students that It is not where we are trying to go that is a problem,
											 it is what are you willing to leave behind to get there.</p>
                                        </div>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                  Academic Mentor
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
								<div class="panel-body">
									<p>An academic mentor for a period of one year and six months of my academic life. 
									Some of the tasks were to engage with students and guide them on how to tackle academic challenges;
									for instance if they have programming difficulties.</p>
								</div>
                            </div>
                          </div>

                          
                      
                        </div>
                    </div>
                </div>
				
				
				
            </div>
        </div>
       

    </div>
</section>






<section id="skills" class="section-wrapper skills-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Technical Skills</h2>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress-wrapper">

                    <div class="progress-item">
                        <span class="progress-title">Angular</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                      
                    </div>
                  


                    <div class="progress-item">
                        <span class="progress-title">JAVA</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                        
                    </div>
					<div class="progress-item">
                        <span class="progress-title">J2EE</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                        
                    </div>

                    <div class="progress-item">
                        <span class="progress-title">DialogFlow(ChatBot Development)</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                        
                    </div>

                    <div class="progress-item">
                        <span class="progress-title">TypeScript (REST API's in Typescript)</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                        
                    </div>
                  


                    <div class="progress-item">
                        <span class="progress-title">NodeJs</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                        
                    </div>
                    

                     <div class="progress-item">
                        <span class="progress-title">HTML5 and CSS3</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                        
                    </div>

					 <div class="progress-item">
                        <span class="progress-title">IONIC 3</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                        
                    </div>
					
					 <div class="progress-item">
                        <span class="progress-title">MongoDB and Firebase</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                        
                    </div>
                   

                </div>
               
            </div>
        </div>


        
        
    </div>
	
	    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Key skills gained through personal development</h2>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress-wrapper">

                    <div class="progress-item">
                        <span class="progress-title">Leadership skills</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                      
                    </div>
                  


                    <div class="progress-item">
                        <span class="progress-title">Problem solving and analytical skills</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                        
                    </div>
                  


                    <div class="progress-item">
                        <span class="progress-title">Willingness to learn</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                        
                    </div>
                    

                     <div class="progress-item">
                        <span class="progress-title">Ability to quickly adapt to new culture and environment and to work within a wide cultural diversity</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                        
                    </div>
                   
                     <div class="progress-item">
                        <span class="progress-title">Team Work</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                        
                    </div>
					
					 <div class="progress-item">
                        <span class="progress-title">Communication skills</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                        
                    </div>
                   

                </div>
               
            </div>
        </div>
        
    </div>
   
</section>




<section id="interest" class="section-wrapper section-interest gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Interest</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <h3>Books</h3>

                    <p>I firmly believe that knowledge is the new money.  In my spare time I read books that can help me or empower me on my journey.
					The latest books I read are; Who Moved My Cheese by Spencer Johnson, M.D and The secret to success by Dr.Eric Thomas.
					Not only I read these books, but I have applied what I read in my life. </p>
                </div>
                <div class="content-item">
                    <h3>Sports</h3>

                    <p>I am a big fan of soccer and basketball. What I like about these sports is that, unlike tennis, 
					they involve teamwork. I always study the great players especially in basketball, the likes of Michael Jordan,
					LeBron James, Steph Curry, and Russell Westbrook.
					I am also athletic and I have a workout schedule were I run for at least 6 hours a week.</p>

                </div>
               
            </div>
        </div>
       

    </div>
</section>


<section id="reference" class="review-section section-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Reference</h2>
                </div>
            </div>
        </div>
        <div class="row">
		
		
		
				<div class="col-md-9">
                <div id="review">
				
                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/img/ref/img-testimonial-1.jpg" alt="Reference"/>
                            </div>

                            <div class="media-body">
                                <div class="user-name">Mr. Nicolas Rasekgala (Mentor) <br>Droppa Group</div>
                             
                              
                            </div>
                        </div>
                        <div class="review-text">
                            &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; <i class="fa fa-phone"></i> &nbsp;:&nbsp;+27 79 834 4109 
                        </div>
                        
                    </div>
					
					
					
					 <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/img/ref/img-testimonial-1.jpg" alt="Reference"/>
                            </div>

                            <div class="media-body">
                                <div class="user-name">Mr. Vuyisile Memani(Department of Computer Science section head)<br>Tshwane University of Technology</div>
                             
                              
                            </div>
                        </div>
                        <div class="review-text">
                            &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; <i class="fa fa-phone"></i> &nbsp;:&nbsp;+27 82 620 4347 
                        </div>
                        
                    </div>

                    

                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/img/ref/img-testimonial-1.jpg" alt="Reference"/>
                            </div>

                            <div class="media-body">
                                <div class="user-name">Mr. Sydney Sediela(Lecture)<br>Tshwane University of Technology</div>
                             
                              
                            </div>
                        </div>
                        <div class="review-text">
                            &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; <i class="fa fa-phone"></i> &nbsp;:&nbsp;+27 76 033 9699 
                        </div>
                        
                    </div>


               

                </div>
                
            </div>
           
                

        </div>
        
    </div>
</section>


<section  class="section-contact section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <address>
                    <strong>Address</strong><br>
                    Phomolong section<br>
                    Tembisa 1632

                </address>
               

                <address>
                    <strong>Mobile Number</strong><br>
					+27 78 842 5401
                </address>


                <address>
                    <strong>Email</strong><br>
                    katlego.kg27@gmail.com
                </address>
            </div>
        </div>
        <!--.row-->
        <div id="hire-me" class="row">
            <div class="col-md-12">
                <div class="feedback-form">
                    <h2>Contact me</h2>

                    <form id="contactForm" #form = "ngForm" (ngSubmit)="onSend(form)">
                        <div class="form-group">
                            <label for="InputName">Name </label>
                            <input style="color:black" type="text" name="name"  class="form-control" id="InputName"
                                   placeholder="Full Name (required)*" ngModel required>
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Email address </label>
                            <input style="color:black" type="email" name="email"  class="form-control" id="InputEmail"
                                   placeholder="Email (required)*" ngModel required email>
                        </div>
                        <!--<div class="form-group">
                            <label for="InputSubject">Phnone Number </label>
                            <input type="tel" pattern="[0-9]*" minlength="10" maxlength="10" name="cellNumber" class="form-control" id="InputSubject"
                                   placeholder="Number (required)*" ngModel required>
                        </div>-->
                        <div class="form-group">
                            <label for="message-text" class="control-label">Message </label>
                            <textarea style="color:black" class="form-control" rows="4"  name="message" id="message-text"
                                      placeholder="Message (required)*" ngModel required></textarea>
                        </div>

                        <button type="submit" [disabled]="!form.valid || isWait" class="btn btn-info"><i class="fa fa-envelope-o" aria-hidden="true"></i> Send <spinner *ngIf="isWait"  [size]="25"  [tickness]="4" ></spinner></button>
						
                    </form>
                </div>
                


            </div>
        </div>
    </div>
    
</section>


<footer class="footer">
    <div class="copyright-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="copytext"> <h4 style="color: white">Katlego Ratau. <!--<i class="fa fa-map-marker"></i>-->  Phomolong Section, Tembisa 1632 </h4></div>
                </div>
            </div>
            
        </div>
    
    </div>

</footer>

</div>

</div>

</div>

</div>


<!-- Modal -->
<div  class="modal fade" id="engagementSpeaking" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>


<div  id="blog">


      
      <a class="thumbnail"><img src="assets/eng.png" class="img-reponsive spkPicture" alt="" /></a>
      
      

                            
</div>


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

